.switch-right {
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}
.switch-left {
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

/* TOP LEFT */
.s--img-avatar {
  width: 75px;
}



