
<ng-container *ngIf="graduationInfo && graduationInfo.graduationRules && graduationInfo.graduationRules.length &&
  !graduationInfo.graduationRules[0].ruleExpression; else complex">
  <div *ngFor="let rules of graduationInfo?.graduationRules | groupBy: 'refersTo' | values" class="card mt-4">
    <div *ngIf="!rules[0].ruleExpression">
      <div class="card-body px-4 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
          class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
          (click)="collapsed1.value = !collapsed1.value">
          <h5 class="card-title mb-2">{{'UniversisGraduationModule.'+rules[0].refersTo | translate}}
            <i class="collapsible  ml-3 pt-1 fa"
              [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
          </h5>
        </a>
        <div *ngIf="collapsed1.value" class="mt-2 collapsible-form">
          <div class="d-flex py-2 course-row rule-circle-line" *ngFor="let rule of rules">
            <div class="rule-circle align-self-start" *ngIf="fitsCircle(rule.validationResult?.data?.result || '-')" [ngClass]="{'text-success': rule.validationResult.success,
                              'text-danger': !rule.validationResult.success }">
              <span class="font-lg">{{rule.validationResult?.data?.result || '-'}}</span>
            </div>

            <div class="rule-circle circle-text align-self-start" *ngIf="!fitsCircle(rule.validationResult?.data?.result || '-')" [ngClass]="{'text-success': rule.validationResult.success, 'text-danger': !rule.validationResult.success }">
              <div class="rule-tooltip">
                <div class="font-lg text-truncate">{{rule.validationResult?.data?.result || '-'}}</div>
                <span class="rule-tooltiptext">{{rule.validationResult?.data?.result || '-'}}</span>
              </div>
            </div>

            <div class="align-self-center">
              <span class="text-secondary">{{rule.validationResult?.message}}.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #complex>
  <ng-container *ngIf="graduationInfo && graduationInfo.graduationRules && graduationInfo.graduationRules.length">
    <div class="card mt-4 px-4">
      <div class="card-body px-0">
        <ng-container *ngIf="!isLoading">
          <h5 class="card-title font-xl" [translate]="'UniversisGraduationModule.ComplexRule'"></h5>
          <universis-graduation-tree [displayProgress]="true" [rules]="graduationInfo.graduationRules"></universis-graduation-tree>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>
